<!-- Basic Button -->
<section *ngIf="type === 'basic'">
    <div [ngClass]="className" class="example-button-row">
        <button [ngStyle]="iconPosition === 'right' ? {'flex-direction': 'row-reverse'} : {'flex-direction': 'row'}"
            mat-button [disabled]="disabled">
            <mat-icon
                [ngStyle]="iconPosition === 'right' ? {'margin': '0px -8px 0px 8px'} : {'margin': '0px 8px 0px -8px'}"
                *ngIf="iconPosition!=='none'">{{ iconName || 'favorite' }}</mat-icon>
            {{ label || 'Basic'}}</button>
    </div>
</section>

<!-- Raised Button -->
<section *ngIf="type === 'raised'">
    <div [ngClass]="className" class="example-button-row">
        <button [ngStyle]="iconPosition === 'right' ? {'flex-direction': 'row-reverse'} : {'flex-direction': 'row'}"
            mat-raised-button [disabled]="disabled">
            <mat-icon
                [ngStyle]="iconPosition === 'right' ? {'margin': '0px -8px 0px 8px'} : {'margin': '0px 8px 0px -8px'}"
                *ngIf="iconPosition!=='none'">{{ iconName || 'favorite' }}</mat-icon>
            {{ label || 'Raised' }}</button>
    </div>
</section>

<!-- Stroked Button -->
<section *ngIf="type === 'stroked'">
    <div [ngClass]="className" class="example-button-row">
        <button [ngStyle]="iconPosition === 'right' ? {'flex-direction': 'row-reverse'} : {'flex-direction': 'row'}"
            mat-stroked-button [disabled]="disabled">
            <mat-icon
                [ngStyle]="iconPosition === 'right' ? {'margin': '0px -8px 0px 8px'} : {'margin': '0px 8px 0px -8px'}"
                *ngIf="iconPosition!=='none'">{{ iconName || 'favorite' }}</mat-icon>
            {{ label || 'Stroked' }}</button>
    </div>
</section>

<!-- Flat Button -->
<section *ngIf="type === 'flat'">
    <div [ngClass]="className" class="example-button-row">
        <button [ngStyle]="iconPosition === 'right' ? {'flex-direction': 'row-reverse'} : {'flex-direction': 'row'}"
            mat-flat-button [disabled]="disabled">
            <mat-icon
                [ngStyle]="iconPosition === 'right' ? {'margin': '0px -8px 0px 8px'} : {'margin': '0px 8px 0px -8px'}"
                *ngIf="iconPosition!=='none'">{{ iconName || 'favorite' }}</mat-icon>
            {{ label || 'Flat' }}</button>
    </div>
</section>

<!-- Icon Button -->
<section *ngIf="type === 'icon'">
    <div class="example-button-row">
        <div [ngClass]="className" class="example-flex-container">
            <button mat-icon-button [disabled]="disabled">
                <mat-icon>{{ iconName || 'more_vert' }}</mat-icon>
            </button>
        </div>
    </div>
</section>

<!-- FAB -->
<section *ngIf="type === 'fab'">
    <div class="example-button-row">
        <div class="example-flex-container">
            <div [ngClass]="className" class="example-button-container">
                <button mat-fab [disabled]="disabled">
                    <mat-icon>{{ iconName || 'delete' }}</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Extended FAB -->
<section *ngIf="type === 'extended'">
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button
                    [ngStyle]="iconPosition === 'right' ? {'flex-direction': 'row-reverse'} : {'flex-direction': 'row'}"
                    [ngClass]="className" mat-fab extended [disabled]="disabled">
                    <mat-icon
                        [ngStyle]="iconPosition === 'right' ? {'margin': '0px -8px 0px 8px'} : {'margin': '0px 8px 0px -8px'}"
                        *ngIf="iconPosition!=='none'">{{ iconName || 'favorite' }}</mat-icon>
                    {{ label || 'Basic' }}
                </button>
            </div>

        </div>
    </div>
</section>