<mat-form-field [appearance]="appearance">
    <mat-label>{{ placeholder }}</mat-label>
    <input matInput [formControl]="control" [matAutocomplete]="auto" [disabled]="disabled" #input />
    <mat-icon matPrefix *ngIf="leftIcon">{{ leftIcon }}</mat-icon>
    <mat-autocomplete #auto (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option.label }}
        </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix *ngIf="rightIcon">{{ rightIcon }}</mat-icon>
</mat-form-field>